.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
	
}

.mootabs_title li {
	float: left;
	background-color: transparent;
	padding: 2px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	color: #000;
	font-family: "Trebuchet MS";
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}

.mootabs_title li.active {
	border: 1px solid #000;
  border: 1px solid #EFEFEF;
}

.mootabs_panel {
	display: none;
	position: relative;
	width: 100%;
	top: -1px;
	font-family: "Trebuchet MS";
	clear: both;
	color: #fff;
	overflow: auto;
	text-align:left;
	padding: 3px;
}

.mootabs_panel.active {
	background-color: #272822;
	display: block;
	
}

.mootabs_title li.over {
	border-top: 3px solid #30DA06;
}

